body {
  height: 100vh;
  margin: 0;
  font-family: Poppins;
}

/* Nav */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px -2px gray;
}

nav > h1 {
  font-size: 1.5rem;
}

nav > img {
  width: 5em;
}

/* Journal */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}
.journal {
  max-width: 600px;
  display: flex;
  gap: 1.7rem;
  padding: 45px 20px;
}

.journal > img {
  width: 35%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: ease-in-out 350ms;
}

.journal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.journal-details > h1 {
  background: -webkit-linear-gradient(#53c2e2, #719d49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.location {
  display: flex;
  align-items: center;
}

.location > span {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-right: 1rem;
}

.location img {
  display: flex;
  width: 1rem;
}

a {
  color: gray;
}
hr {
  width: 50%;
}
a:hover {
  color: #53c2e2;
}

.duration {
  font-weight: bold;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .journal-details > h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 1rem;
  }
  .location {
    font-size: 0.8rem;
  }
  .location > span {
    letter-spacing: 0.1rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .journal > img {
    width: 40%;
  }
}
